# OpenOCD config for STM32MP157 M4 via CMSIS-DAP/SWD
adapter driver cmsis-dap
transport select swd
adapter speed 4000

# Only enable M4 core (disable A7)
set EN_CA7_0 0
set EN_CA7_1 0
set EN_CM4   1

source [find target/stm32mp15x.cfg]

reset_config srst_only
